@charset "UTF-8";
/* Add your custom CSS declarations below  */
@font-face {
   font-family: BankGothicBT-Medium;
   src: url("../fonts/BankGothicBT-Medium.woff") format("woff"), url("../fonts/BankGothicBT-Medium.ttf") format("truetype");
}
body, .card {
    background-color: #34363a;
    color: white;
    font-family: 'Lato', sans-serif;
}
h2, .navbar {
    font-family: 'BankGothicBT-Medium', sans-serif;
}
.navbar {
    font-size: 2rem;
}
.btn, .btn:active, btn:hover, .btn:checked, .btn:visited, btn:any-link {
    background-color: #d19d2d;
    color: white;
}
img {
    max-width: 100%;
    height: auto; 
}
.cover {
    max-width: 230px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.slide {
    max-width: 350px;
}
.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}
footer {
    background-color: #222529;
    padding: 10px;
}
.image {
    display: block;
    width: 100%;
    height: auto;
}
.book {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}
.overlay-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.book:hover .overlay {
    opacity: .5;
}
.book:hover .overlay-text {
    opacity: 1;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
